@import url("/assets/font/stylesheet.css");
:root {
  font-size: 16px;
}

* {
  color: #262523;
}

body {
  background: #fff9f4;
  padding-bottom: 10px;
}

nav {
  display: none;
}

.close-menu-btn {
  display: none;
  width: 22px;
  justify-self: flex-end;
  margin: 30px;
}

header {
  box-sizing: border-box;
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: #262523 solid 2px;
  border-bottom: #262523 solid 2px;
  padding: 1vw 0 1vw 0;
}
header .navbar_mobile_grp {
  display: none;
}
header img {
  height: 5vw;
}
header .navbar_mobile {
  display: none;
}

.first-container {
  padding: 0 40px 0 40px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.first-container h1,
.first-container a {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-family: "Helvetica Now Display";
}
.first-container > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -5px;
  margin-right: -5px;
}
.first-container > ul li {
  padding: 5px;
}

.second-container {
  padding: 0 40px 0 40px;
  display: grid;
}
.second-container > ul {
  position: relative;
  top: 100px;
  width: 30%;
}
.second-container > ul a {
  display: inline-block;
  padding: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-left: -5px;
  font-family: "Helvetica Now Display";
}
.second-container .creative-container {
  position: relative;
  display: flex;
  justify-self: center;
  top: -120px;
  margin: 20px;
}
.second-container .creative-container img {
  border: 2px solid #262523;
  border-radius: 193.5px 193.5px 0px 0px;
  aspect-ratio: 9/12;
  width: 17.1875rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 1;
}
.second-container .creative-container .crea-text,
.second-container .creative-container .tive-text {
  font-family: "Helvetica Now Display";
  font-style: normal;
  font-weight: 500;
  font-size: 6rem;
  letter-spacing: 0.02em;
  color: #262523;
  text-transform: uppercase;
  position: absolute;
}
.second-container .creative-container .crea-text {
  top: 100px;
  left: -100px;
}
.second-container .creative-container .crea-text::before,
.second-container .creative-container .tive-text::before {
  content: "Crea";
  -webkit-text-stroke: 2px #fff9f4;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  color: rgba(0, 0, 0, 0);
}
.second-container .creative-container .tive-text {
  top: 220px;
  left: 175px;
}
.second-container .creative-container .tive-text::before {
  content: "tive";
}

.third-container {
  padding: 0 40px 0 40px;
  display: grid;
  height: 100%;
}
.third-container p {
  font-family: "Helvetica Now Display";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #262523;
  width: 50%;
}
.third-container img {
  justify-self: flex-end;
  position: relative;
  top: -100%;
  width: 5rem;
}

@media (max-width: 1024px) {
  .second-container > ul {
    position: relative;
    top: 0px;
    width: 30%;
  }
  .second-container .creative-container {
    top: -100px;
  }
  .second-container .creative-container img {
    width: 12rem;
  }
  .second-container .creative-container .crea-text,
.second-container .creative-container .tive-text {
    font-size: 4rem;
  }
  .second-container .creative-container .crea-text {
    top: 80px;
    left: -65px;
  }
  .second-container .creative-container .tive-text {
    top: 167px;
    left: 125px;
  }
  .third-container {
    padding: 0 40px 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .third-container p {
    width: 100%;
    font-size: 14px;
  }
  .third-container img {
    width: 3rem;
    margin-top: 30px;
  }
}
@media (max-width: 600px) {
  .navbar_mobile {
    z-index: 999;
    background: #fff9f4;
    transition: 0.25s ease;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: fixed;
    width: 100%;
    top: 0;
    height: 100vh;
  }
  .navbar_mobile a {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-transform: lowercase;
    text-decoration: none;
    padding: 0;
  }
  .navbar_mobile .hidelink {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    align-items: end;
  }
  .navbar_mobile .hidelink li {
    text-transform: uppercase;
    padding: 10px;
    text-align: end;
    background: red;
  }
  .navbar_mobile .hidelinkfalse {
    visibility: visible;
    transition: 1s;
    opacity: 1;
    position: relative;
  }
  .closedmenu {
    height: 0;
    padding: 0;
    transition: 0.5s ease;
  }
  .openmenu {
    height: 100vh;
    transition: 0.5s ease;
    width: 100%;
  }
  header .navbar_mobile_grp {
    display: inline-block;
    position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  header .navbar_mobile_grp .navbar_mobile_button {
    width: 30px;
  }
  header img {
    height: 6.5vw;
  }
  .first-container h1 {
    font-size: 14px;
  }
  .first-container > ul {
    display: none;
  }
  .second-container {
    padding: 40px;
  }
  .second-container > ul {
    display: none;
  }
  .second-container .creative-container {
    top: 0;
  }
  .second-container .creative-container img {
    width: 10rem;
  }
  .second-container .creative-container .crea-text,
.second-container .creative-container .tive-text {
    font-size: 3rem;
  }
  .second-container .creative-container .crea-text {
    top: 80px;
    left: -65px;
  }
  .second-container .creative-container .tive-text {
    top: 167px;
    left: 125px;
  }
  .second-container .creative-container .crea-text::before,
.second-container .creative-container .tive-text::before {
    -webkit-text-stroke: 1px #fff9f4;
  }
}/*# sourceMappingURL=style.css.map */